# primer encuentro con python

In [1]:
print("hola mundo")

hola mundo

# variables

In [3]:
num1 = 10 
print(num1)

10

# ejemplo con hola mundo

In [4]:
saludo = "hola mundo "
print (saludo)

hola mundo

# tipo de datos

In [5]:
saludo = "maitei" # texto = stringa = str

cantidad = 100 # numero entero  = integer = int

pi = 3.14 # numero decimal = floatign number = float 

print (saludo)
print(cantidad)
print (pi)

maitei
100
3.14

# operaciones aritmeticas

In [ ]:
# suma 
print (5+2+6)

# resta 
print(5-2)

#multiplicacion 

print(23*1)

#division
print(12/2)

In [8]:
#1 
cantidad_manzanas = 4
cantidad_naranjas = 19
catidad_de_frutas = cantidad_manzanas + cantidad_naranjas
print(catidad_de_frutas)

#2
frutas_comidas = 6
frutas_restantes = catidad_de_frutas - frutas_comidas
print(frutas_restantes)

23
17

# jugando con texto

In [ ]:
nombre ="lucas "
apellido = "prieto "
print(nombre)
print(apellido)

# concatenar 
print(nombre + apellido)
# dos variables 
print(nombre , apellido)

In [19]:
#challenge 2
nombre ="jose"
apellido ="martinez"
print("hola mi nombre es "+ nombre+" "+apellido+" "+"mucho gusto")

hola mi nombre es jose martinez mucho gusto

# obteniendo datos del usuario

In [22]:
numero1 = input("escriba un numero por favor ")
print (numero1)
numero2 = input("escriba otro numero ")
print(numero2)

#suma de datos 
suma_de_numero= numero1 + numero1
print(suma_de_numero)
#identificar tipo de dato 
print(type(numero1))
print(type(numero2))

#primer ingreso 
numero1 =input("esribir numero por favor ")
print(numero1)
#segundo numero 
numero1 =input("esribir otro  numero por favor ")
print(numero1)
#convertir 
numero1= int(numero1)
numero2 =int(numero2)

print(numero1+numero2)

a
w
aa

In [27]:
#primer ingreso 
numero1 =input("esribir numero por favor ")
print(numero1)
#segundo numero 
numero2 =input("esribir otro  numero por favor ")
print(numero2)
#convertir 
numero1=int(numero1)
numero2=int(numero2)

print(numero1+numero2)

2
6
8

# funciones

In [28]:
# funcion con texto 

def mi_funcion():
    print("buenas tardes , penguis ")

mi_funcion()

buenas tardes , penguis

# parametros y argumentos

In [29]:
def miprint(nombre):
    print("Hola mi nombre es " + nombre +"!")

miprint("lucas")

Hola mi nombre es lucas!

In [37]:
def mi_print_de_bienvenida(nombre_alumno , nombre_coach):
    print("hola "+ nombre_alumno + "soy "+ nombre_coach +"y soy tu mentor ")
mi_print_de_bienvenida("lucas", "enma")

hola lucassoy enmay soy tu mentor

In [53]:
def mi_funcion2(num1,num2):
    suma=num1+num2
    int(suma)
    print("tu primer numero es " ,num1,"y tu segundo numero es ",num2,"y la suma de los dos es ", suma )
mi_funcion2(2,5)

tu primer numero es  2 y tu segundo numero es  5 y la suma de los dos es  7

# alcance local

In [55]:
def imprimir_precio():
    valor = 2000
    print (valor)

imprimir_precio()

2000

# ALCANCE GLOBAL

In [56]:
precio_global =1000
def imprimir_precio2():
    print(precio_global)

imprimir_precio2()

1000

# challeng3

In [74]:
iva = 0.11
def calcular_iva(valor):
    calculo=valor*iva
    print ("el iva es "+ str(round(calculo)))

calcular_iva(10000)

el iva es 1100

# condicionales

In [75]:
edadlaborar = 30

if edadlaborar <18:
    print("menor de edad ")
elif edadlaborar >65:
    print("jubilada")
else :
    print ("activo laboral ")

activo laboral